{% extends 'base.html' %}

{% block styles %}
{{ super() }}
{% endblock %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ajouter_evenement.css') }}">
<div class="container">
    <div class="parent">
        <form class="form-parent" action="{{ url_for('add_evenement') }}" method="POST" enctype="multipart/form-data">

            <select class="size" type="option" name="typeEvent" placeholder="Type d'évènement" required>
                <option value="" disabled selected hidden>Choisissez le type de l'évènement</option>
                {% for type in types %}
                    <option value="{{ type.nomEvent }}">{{ type.nomEvent }}</option>
                {% endfor %}
            </select>
        
            <input class="size" type="text" name="nomEvent" placeholder="Nom de l'évènement" required>
        
            <select class="size" type="option" name="dateDebut" placeholder="Date de début" required>
                <option value="" disabled selected hidden>Choisissez le jour de début de l'évènement</option>
                {% for jour in jours_disponibles %}
                    <option value="{{ jour }}">{{ jour }}</option>
                {% endfor %}
            </select>
        
            <input class="size" type="datetime-local" name="dateDebut" placeholder="Date de début" required>
            <input class="size" type="datetime-local" name="dateFin" id="dateFin" placeholder="Date de fin" required>
            <input class="size" type="text" name="nomLieu" placeholder="Adresse du lieu" required>
        
            <div class="container">
                <input class="size" type="file" name="image" id="image-input">
                <script src="{{ url_for('static', filename='js/gestionnaireImage.js') }}"></script>
                <img class="size" id="image-charge" src="" alt="Glisser/Déposer une image">
            </div>
        
            <textarea class="size textarea" id="descriptionEvent" name="descriptionEvent" rows="4" maxlength="500" placeholder="Description" required></textarea>
        
        </form>
    </div>
    <input class="size submit" type="submit" value="Ajouter l'événement">
</div>
{% endblock %}
