{% extends 'base.html' %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/billeterie.css') }}">
<div class="placementBillet">
    {% for i in range(billets|length) %}
        <div class="billet">
            <div class="div_img">
                <a href="{{ url_for('info_billet', idBillet=billets[i].idBillet) }}">
                    <img class="img_acc" src="{{ url_for('static', filename='images/' + billets[i].nomTypeBillet|str + '.png') }}" alt="img">
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}