{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}
{% block main %}
<h2> {{ festival.nomFestival }} </h2>
{% if current_user.is_authenticated and current_user.monRole == "Administrateur" %}
    <a href="{{ url_for('ajouter_lieu') }}" class="">Ajouter un lieu</a>
    <a href="{{ url_for('ajouter_event') }}" class="">Ajouter un évènement</a>
    <a href="{{ url_for('ajouter_journee') }}" class="">Ajouter une journée</a>
{% endif %}
{% for event in events %}
<p>{{ event.nomEvent }}</p>
{% endfor %}
{% endblock %}