{% extends 'base.html' %}
{% block style %}
{{ super() }}
{% endblock %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info_billet.css') }}">
<form action="" method="POST">
    <section class="Acheter_billet">
        <h1>Acheter un billet</h1>
        {% if billet == 'Journée' %}
        <p>Vous avez choisi un billet journée</p>
        <p>Voici les journées disponibles : </p>
        {% for jour in jours_disponibles %}
        <p>{{ jour }}</p>
        {% endfor %}
        {% endif %}
        <label for="prix">Prix du billet :</label>
        <label for="quantite">Quantité :</label>
        <input type="number" name="quantite" id="quantite" value="1" min="1"  max="3" required>
    </section>
    <input class="valider" type="submit" id="valider" name="valider" value="Acheter le billet"/>
</form>
{% endblock %}
