body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #3498db; /* Couleur de fond */
    padding: 15px;
    display: flex;
    justify-content: space-between; /* Aligne les éléments à l'extrémité des deux côtés */
    align-items: center; /* Centre les éléments verticalement */
}

.logo {
    color: #fff; /* Couleur du texte du logo */
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.login-button {
    background-color: #e74c3c; /* Couleur du bouton de connexion */
    color: #fff; /* Couleur du texte du bouton */
    padding: 14px 28px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out; /* Animations de transition pour le survol */
}

.login-button:hover {
    background-color: #c0392b; /* Nouvelle couleur au survol */
    transform: scale(1.1); /* Effet d'agrandissement */
}

nav {
    background-color: #333;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #ddd;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

#main-nav {
    display: flex;
    justify-content: center;
}

#main-nav ul {
    list-style: none;
    display: flex;
}

#main-nav li {
    margin-right: 20px;
}

#main-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

#main-nav a:hover {
    color: #ddd;
}

/* Style pour l'icône du menu */
.navbar-toggle img {
    width: 30px; /* Ajustez la taille de l'icône selon vos besoins */
}

/* Style pour la barre de navigation lorsqu'elle est en mode "mobile" */
@media (max-width: 768px) {
    #main-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px; /* Ajustez la position de la barre de navigation selon vos besoins */
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    #main-nav.show {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}