{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css')}}"> 
{% endblock %}
{% block content %}
<section class="festival-tickets-container">
{% for fest in festival %}
<section class="festival-ticket">
    
    <div class="festival-container">
        <p> {{ fest }} </p>
    </div>

</section>
{% endfor %}
{% if utilisateur is not none and utilisateur[-1] == "ADMINISTRATEUR" %}
<a href="{{ url_for('nouveau_festival')}}" class="festival-button">Créer un nouveau festival</a>
{% endif %}
</section>
{% endblock %}
