{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/acceuil.css') }}">
{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<section id="featured-events">
    <h2>Événements à la Une</h2>
    <!-- Ajoutez ici le code pour afficher les événements en vedette -->
    {% for event in featured_events %}
        <div class="event">
            <h3>{{ event.name }}</h3>
            <p>{{ event.description }}</p>
            <!-- Ajoutez d'autres détails de l'événement ici -->
        </div>
    {% endfor %}
</section>

<section id="search">
    <h2>Recherchez vos groupes préférés</h2>
    <!-- Ajoutez ici le code pour la recherche de groupes -->
    <form action="/search" method="GET">
        <label for="music_style">Style musical :</label>
        <input type="text" id="music_style" name="music_style" placeholder="Entrez un style musical">
        <button type="submit">Rechercher</button>
    </form>
</section>

<section id="user-favorites">
    <h2>Vos groupes favoris</h2>
    <!-- Ajoutez ici le code pour afficher les groupes favoris de l'utilisateur -->
    {% if user_favorites %}
        <ul>
            {% for favorite in user_favorites %}
                <li>{{ favorite.band_name }}</li>
                <!-- Ajoutez d'autres détails du groupe ici -->
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun groupe favori pour le moment.</p>
    {% endif %}
</section>
{% endblock %}