<!doctype html>
<html lang="fr">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    
    {% block styles %}
    <script src="{{ url_for('static', filename='js/base.js')}}"></script>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">
    {% endblock %}
    <title>Ma bibliothèque SF</title>
</head>
<body>
    <header>
        <div>
            <img class="menu-link" src="{{ url_for('static', filename='images/menu.png')}}" alt="" onclick="toggleContainerClass()">
        <div class="deroulant">
        <nav id="main-nav">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/billeterie">Billetterie</a></li>
                <li><a href="/programmation">Programmation</a></li>
                <!-- Ajoutez d'autres rubriques de navigation selon vos besoins -->
            </ul>
        </nav>
    </header>
    
    <main class="flex-shrink-0">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">© 2023 BRISSET Léo</span>
        </div>
    </footer>
    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>
