{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boutique.css') }}">
{% endblock %}

{% block content %}
    <section class="festival-tickets-container">
        <h1>Boutique de Billets de Concert</h1>
        <ul>
            {% for billet in billets %}
                <li>
                    <h3>{{ billet[1] }}</h3>
                        <button type="submit">Acheter</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

