{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/connexion.css')}}"> 
{% endblock %}
{% block content %}

<div class="login-container">
    <h2>Connexion</h2>
    <p>{{ erreur }}</p>
    <form method="post" action="{{ url_for('verif_connexion') }}">
        <label for="pseudo">Pseudo:</label>
        <input type="text" id="pseudo" name="pseudo" required><br>

        <label for="mot_de_passe">Mot de passe:</label>
        <input type="password" id="mot_de_passe" name="mot_de_passe" required><br>

        <input type="submit" value="Se connecter">
        <a href="{{ url_for('inscription')}}">S'inscrire</a>
    </form>
</div>
{% endblock %}
