{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/connexion.css')}}"> 
{% endblock %}
{% block content %}

<div class="login-container">
    <h2>Inscription</h2>
    <form method="post" action="{{ url_for('connexion') }}">
        <label for="Nom_utilisateur">Nom Utilisateur :</label>
        <input type="text" id="Nom_utilisateur" name="Nom_utilisateur" required><br>

        <label for="mot_de_passe">Mot de passe:</label>
        <input type="password" id="mot_de_passe" name="mot_de_passe" required><br>

        <label for="conf_mot_de_passe">Confirmer mot de passe:</label>
        <input type="password" id="conf_mot_de_passe" name="conf_mot_de_passe" required><br>

        <input type="submit" value="Se connecter">
    </form>
    <p>{{ message }}</p>
</div>
{% endblock %}
