{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/connexion.css')}}"> 
{% endblock %}
{% block content %}

<div class="login-container">
    <h2>Inscription</h2>
    <p>{{ erreur }}</p>
    <form method="post" action="{{ url_for('save_inscription') }}">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required><br>

        <label for="mdp">Mot de passe:</label>
        <input type="password" id="mdp" name="mdp" required><br>

        <label for="conf_mdp">Confirmer mot de passe:</label>
        <input type="password" id="conf_mdp" name="conf_mdp" required><br>

        <input type="submit" value="S'inscrire">
        <a href="{{ url_for('connexion')}}">Se connecter</a>
    </form>
    <p>{{ message }}</p>
</div>
{% endblock %}
