.container{
    text-align: center;
}

.parent{
    margin: 1em;
    text-align: center;
    font-size: 1.3em;
    border: 0.1em solid black;
    margin: 1em 25em;
    padding: 1em;
    background-color: #fffbe4;
}

form div{
    margin-top: 1em;
}

input{
    background-color: #fffbe4;
    width: 40%;
    height: 2em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    padding: 0.5em;
    font-size: 1em;
}

button{
    font-size: 2em;
    margin: 0.4em;
    background: none;
    border: 0.1em solid transparent;
    border-radius: 0.5em;
}

button:hover{
    background: red;
    border-width: 0.1em;
    border-style: solid; 
    border-color: red;
    cursor: pointer;
}

.voir{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 0.1em solid transparent;
    margin-bottom: 6em;
    font-size: 1.1em;
}

.voir:hover{
    border-width: 0 0 0.1em 0;
    border-style: solid; 
    border-color: red;
}